.my-page  { background: transparent url(images/bg.jpg) 0 0 repeat; }

.my-page.bg1 { background: transparent url(images/bg-1.jpg) 0 0 repeat; }

.my-page.bg2 { background: transparent url(images/bg-2.jpg) 0 0 repeat; }

.my-page.bg3 { background: transparent url(images/bg-3.jpg) 0 0 repeat; }